@use "../../styleglobal.scss" as *;

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  flex: 1;
  padding: 1rem;
  min-width: 250px;

  .card__image img {
    width: 100%;
    max-width: 350px;
    border-radius: 15px;
    object-fit: cover;
  }

  .card__title {
    font-size: 1.8rem;
    color: $primary-color;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 700;
  }

  .card__text {
    display: block;
    font-size: 1rem;
    color: $primary-color;
    font-family: "Inter", sans-serif;
    line-height: 1.4;
    width: 90%;
    margin: 0;
  }

  .card__button {
    width: 180px;
    font-family: "Source Sans 3", sans-serif;
    background-color: $primary-color;
    color: white;
    border-radius: 8px;
    padding: 10px;
    border: none;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    margin-top: auto;
    transition: background 0.3s;

    &:hover {
      background-color: lighten(#2b5a94, 10%);
    }
  }

  @media (min-width: 1025px) {
    position: relative;
    
    &:not(:last-child)::after {
      content: "";
      position: absolute;
      right: 0;
      top: 20%;
      height: 60%;
      width: 1px;
      background-color: #cbcbcb;
    }
  }
}