@use "../../styleglobal.scss" as *;

.Footer {
  height: auto;
  background: rgba(32, 86, 145, 0.1);

  .pagFooter {
    color: $fourth-color;
    text-align: center;
    padding: 15px;
    font-family: "Helvetica", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
  }
}

@media (max-width: 860px) {
    
  .pagFooter p {
      padding: auto;
      font-size: 8px;
    }
}
